#/////////////////////////////////////////////////////////////////////////////
# Eazax-CCC
#/////////////////////////////////////////////////////////////////////////////

*.meta

#/////////////////////////////////////////////////////////////////////////////
# VSCode files
#/////////////////////////////////////////////////////////////////////////////

creator.d.ts
.vscode/